<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Index</title>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <table class="table table">
                <tr>
                    <td>Uno</td>
                    <td>Dos</td>
                    <td>Tres</td>
                </tr>
            </table>

            {% block content %} 
            
            {% endblock %}

        </div>
    </div>


</body>
</html>